@font-face {
  font-family: 'gy';
  src: url("../Title_Light.otf") format('truetype');
}

.tooltipex {
    display: inline-block;
  }
  
  .tooltipex-text {
  display: none;
  position: absolute;
  text-align: left;
  font-weight: 1000;
  font-family: "gy";
  
  bottom: 95px;
  left: -10px;
  width: 360px;
  border: 1px solid #70dbfe;
  border-radius: 5px;
  padding: 5px;
  background: white;
  z-index: 50;
  transform: skew(10deg);
  }
  
  .tooltipex-text::after {
    content: "";
    position: absolute;
    top: 97%;
              left: 30px;
              margin-left: -10px;
              border-width: 10px;
              border-style: solid;
              border-color: #64cbf2 transparent transparent transparent;
  }
    
  
  .tooltipex:hover .tooltipex-text {
  display: block;
  }


.tooltips1 {
    display: inline-block;
  }
  
  .tooltips1-text {
  display: none;
  position: absolute;
  text-align: left;
  font-weight: 1000;
  font-family: "gy";
  
  bottom: 95px;
  left: -88px;
  width: 360px;
  border: 1px solid #70dbfe;
  border-radius: 5px;
  padding: 5px;
  background: white;
  z-index: 50;
  transform: skew(10deg);
  }
  
  .tooltips1-text::after {
    content: "";
    position: absolute;
    top: 97%;
              left: 108px;
              margin-left: -10px;
              border-width: 10px;
              border-style: solid;
              border-color: #64cbf2 transparent transparent transparent;
  }
    
  
  .tooltips1:hover .tooltips1-text {
  display: block;
  }


.tooltips2 {
    display: inline-block;
  }
  
  .tooltips2-text {
  display: none;
  position: absolute;
  text-align: left;
  font-weight: 1000;
  font-family: "gy";
  
  bottom: 95px;
  left: -166px;
  width: 360px;
  border: 1px solid #70dbfe;
  border-radius: 5px;
  padding: 5px;
  background: white;
  z-index: 50;
  transform: skew(10deg);
  }
  
  .tooltips2-text::after {
    content: "";
    position: absolute;
    top: 97%;
              left: 190px;
              margin-left: -10px;
              border-width: 10px;
              border-style: solid;
              border-color: #64cbf2 transparent transparent transparent;
  }
    
  
  .tooltips2:hover .tooltips2-text {
  display: block;
  }



.tooltips3 {
    display: inline-block;
  }
  
  .tooltips3-text {
  display: none;
  position: absolute;
  text-align: left;
  font-weight: 1000;
  font-family: "gy";
  
  bottom: 95px;
  left: -244px;
  width: 360px;
  border: 1px solid #70dbfe;
  border-radius: 5px;
  padding: 5px;
  background: white;
  z-index: 50;
  transform: skew(10deg);
  }
  
  .tooltips3-text::after {
    content: "";
    position: absolute;
    top: 97%;
              left: 268px;
              margin-left: -10px;
              border-width: 10px;
              border-style: solid;
              border-color: #64cbf2 transparent transparent transparent;
  }
    
  
  .tooltips3:hover .tooltips3-text {
  display: block;
  } 

.eq_detail {
    display: inline-block;
  }
  .eq_detail-text {
    display: none;
    position: absolute;
    text-align: left;
    font-weight: 1000;
    font-family: "gy";
    
    bottom: 75px;
    left: -80px;
    width: 200px;
    border: 1px solid #70dbfe;
    border-radius: 5px;
    padding: 5px;
    background: white;
    z-index: 50;
    transform: skew(10deg);
    }
  .eq_detail-text::after {
    content: "";
    position: absolute;
    top: 97%;
              left: 108px;
              margin-left: -10px;
              border-width: 10px;
              border-style: solid;
              border-color: #64cbf2 transparent transparent transparent;
  }  
  .eq_detail:hover .eq_detail-text {
    display: block;
  }